body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  margin: 0 auto;
  padding: 50px;
}
.submitBtn{
   background-color: #000;
   color: white;
 }

.inputForm{
  height: 47px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 47px;
}

.input{
  color: #000;
  background-color: #D9D9D9;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #D9D9D9;
  color: black;
}

td .DeleteBtn{
  color: red;
  border-color: transparent;
}